@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import url("https://fonts.googleapis.com/css?family=Lato:900");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
/* COLOR PALLET */
/* MEDIA QUERY BREAK POINTS */
select {
  display: initial;
}

button,
input[type=submit],
input[type=reset] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
button:focus,
input[type=submit]:focus,
input[type=reset]:focus {
  background-color: inherit;
}

a {
  text-decoration: none;
  color: initial;
}

nav a {
  text-decoration: none;
  color: inherit;
  color: white;
}

button {
  font-family: "Quicksand", sans-serif;
}

.button-input {
  transition: opacity 0.2s;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

/*Main Font-sizes*/
/*FONTS*/
label {
  font-family: "Quicksand", sans-serif;
  width: initial !important;
}

.lato {
  font-family: "Lato", sans-serif;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
}

.logo {
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
}

h1 {
  font-size: 45px;
  line-height: 50px;
  font-family: "Lato", sans-serif;
}
@media only screen and (max-width: 700px) {
  h1 {
    font-size: 28.125px;
  }
}
@media only screen and (min-width: 701px) and (max-width: 1257px) {
  h1 {
    font-size: 30px;
  }
}

h2 {
  font-size: 28px;
  line-height: 33px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
@media only screen and (max-width: 700px) {
  h2 {
    font-size: 24px;
    line-height: 19px;
  }
}

h3 {
  font-size: 30px;
  line-height: 35px;
  font-family: "Quicksand", sans-serif;
}
@media only screen and (max-width: 700px) {
  h3 {
    font-size: 17.6470588235px;
  }
}
@media only screen and (min-width: 701px) and (max-width: 1257px) {
  h3 {
    font-size: 20px;
  }
}

h4 {
  font-size: 15px;
  line-height: 20px;
  font-family: "Quicksand", sans-serif;
  color: #222222;
}

p {
  font-size: 18px;
  line-height: 23px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  color: #314455;
}
@media only screen and (max-width: 700px) {
  p {
    font-size: 14px;
  }
}

.display_none {
  display: none !important;
}

input {
  border: initial;
  margin: initial;
}
input:hover {
  border: initial !important;
  box-shadow: initial !important;
}
input:active {
  border: initial !important;
  box-shadow: initial !important;
}
input:focus {
  border: initial !important;
  box-shadow: initial !important;
}
input:focus-within {
  border: initial !important;
  box-shadow: initial !important;
}

@keyframes fadeOut {
  0% {
    right: 0px;
    opacity: 1;
  }
  90% {
    right: 400px;
    opacity: 0;
  }
  100% {
    right: 4000px;
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    position: relative;
    right: -200px;
    opacity: 0;
  }
  to {
    position: relative;
    right: 0;
    opacity: 1;
    visibility: visible;
  }
}
.fadeOut {
  animation: fadeOut 0.5s ease-in-out;
  animation-fill-mode: forwards;
  position: absolute;
  max-width: 350px;
  position: absolute;
}
.fadeIn {
  animation: fadeIn 0.5s ease;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  position: relative !important;
}

body {
  background-color: #f15d5d;
}
body .mainContainer {
  padding: 10px;
  background-color: #fff8f8;
  height: 90%;
  max-width: 650px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  box-shadow: 0px 2px 10px #a83737;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  overflow-x: hidden;
}
@media only screen and (max-width: 700px) {
  body .mainContainer {
    overflow: hidden;
  }
}
@media only screen and (max-width: 700px) {
  body .mainContainer {
    min-height: 100vh;
    height: auto;
    position: relative;
  }
}
body .mainContainer .checkIns {
  text-align: center;
  width: 100%;
  max-height: 90%;
  overflow: auto;
}
body .mainContainer .checkIns .checkInDate {
  max-width: 50%;
  margin: auto;
  padding: 10px;
}
@media only screen and (max-width: 700px) {
  body .mainContainer .checkIns .checkInDate {
    max-width: 100%;
  }
}
body .mainContainer .checkIns .user {
  margin: 10px;
  text-align: center;
}
body .mainContainer .checkIns .user h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #222222ab;
}
body .mainContainer .checkIns .user h2 span {
  padding: 5px;
  color: #f15d5d;
  font-weight: 900;
  text-decoration: underline;
}
body .mainContainer .checkInContainer {
  width: 50%;
  max-width: 450px;
  max-height: 100%;
}
@media only screen and (max-width: 700px) {
  body .mainContainer .checkInContainer {
    width: 90%;
  }
}
body .mainContainer .checkInContainer .backButton {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #f15d5d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}
@media only screen and (max-width: 700px) {
  body .mainContainer .checkInContainer .backButton {
    position: fixed;
  }
}
body .mainContainer .checkInContainer .backButton span {
  margin-right: 10px;
}
body .mainContainer .checkInContainer .backButton span i {
  font-size: 25px;
}
body .mainContainer .checkInContainer header {
  padding: 10px;
  border-radius: 10px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: all 0.5s;
  margin-bottom: 0;
  transition: margin-bottom 0.8s;
}
@media only screen and (max-width: 700px) {
  body .mainContainer .checkInContainer header {
    width: 100%;
  }
}
body .mainContainer .checkInContainer header .logo {
  text-align: center;
}
body .mainContainer .checkInContainer header .logo img {
  max-height: 250px;
  width: 100%;
}
body .mainContainer .checkInContainer header .title {
  transition: all 0.5s;
  position: relative;
  top: 0;
}
body .mainContainer .checkInContainer header .title h1 {
  color: #e35a5a;
  font-size: 50px;
  font-weight: 900;
  line-height: 65px;
  padding-bottom: 20px;
  max-width: 70%;
  margin: auto;
  max-width: 70%;
  font-family: "Raleway", sans-serif;
  display: inline;
}
body .mainContainer .checkInContainer header .title h3 {
  border-bottom: 10px solid #f15e5e;
  text-align: center;
  margin: auto;
  font-size: 20px;
  line-height: 23px;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  padding: 10px 0;
}
body .mainContainer .checkInContainer .pickAffiliation {
  margin: 30px auto;
  width: 100%;
  opacity: 1;
  right: 4000px;
  opacity: 0;
  position: absolute;
}
body .mainContainer .checkInContainer .pickAffiliation button {
  margin: 10px auto;
  background-color: #f15d5d;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
body .mainContainer .checkInContainer .pickAffiliation button:hover {
  cursor: pointer;
  background-color: #cc5353;
}
body .mainContainer .checkInContainer .pickAffiliation button h4 {
  line-height: initial;
  margin: initial;
  font-weight: 900;
  margin-left: 10px;
}
body .mainContainer .checkInContainer .pickAffiliation button * {
  color: white;
}
body .mainContainer .checkInContainer .userInfo {
  right: 4000px;
  opacity: 0;
  position: absolute;
}
body .mainContainer .checkInContainer .userInfo .inputs .input {
  padding-left: 20px;
  background: #efe8e8;
}
body .mainContainer .checkInContainer .userInfo .inputs .input input {
  border: initial;
  margin: initial;
}
body .mainContainer .checkInContainer .userInfo .inputs .input input::placeholder {
  color: #22222278;
}
body .mainContainer .checkInContainer .userInfo .location {
  margin-top: 10px;
}
body .mainContainer .checkInContainer .userInfo .location .state {
  z-index: 1;
}
body .mainContainer .checkInContainer .userInfo .location .inputs {
  margin: 10px auto;
  position: relative;
  display: block;
  background-color: #efe8e8;
  height: 45px;
  width: 100%;
  background-color: #efe8e8;
  text-align: left;
  color: #1717178f;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .mainContainer .checkInContainer .userInfo .location .inputs input {
  border: initial;
  margin: initial;
  position: absolute;
  z-index: 999;
  padding-left: 20px;
  width: 80%;
}
body .mainContainer .checkInContainer .userInfo .location .inputs .opacity_none {
  color: transparent;
}
body .mainContainer .checkInContainer .userInfo .location .inputs .placeContainer {
  max-height: 30vh;
  overflow: auto;
  position: absolute;
  width: 100%;
  top: 45px;
  z-index: 999;
}
body .mainContainer .checkInContainer .userInfo .location .inputs .placeContainer button {
  background-color: #dad5d5;
  height: 45px;
  width: 100%;
  text-align: left;
  padding-left: 20px;
  color: #222;
  position: relative;
  font-weight: 900;
  z-index: 999;
}
body .mainContainer .checkInContainer .userInfo .location .inputs .placeContainer button:hover {
  background-color: wheat;
}
body .mainContainer .checkInContainer .userInfo .location .inputs #stateContainer {
  max-height: 23vh;
}
body .mainContainer .checkInContainer .userInfo .location .inputs i {
  margin: auto;
  margin-right: 20px;
  cursor: pointer;
  transition: all 0.2s;
}
body .mainContainer .checkInContainer .userInfo .location .inputs .upsidedown {
  transform: rotateZ(-180deg);
}
body .mainContainer .checkInContainer .userInfo .checkInBtn {
  background: #f15d5d;
  padding: 5px 10px;
  margin: auto;
  margin-top: 20px;
  color: white;
  font-size: 14px;
  font-weight: 900;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 30px;
  height: 35px;
  width: 100px;
}
body .mainContainer .checkInContainer .finalInfo {
  right: 4000px;
  opacity: 0;
  position: absolute;
  top: 0;
}
body .mainContainer .checkInContainer .finalInfo .individualCheckIn .pickGender {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .mainContainer .checkInContainer .finalInfo .individualCheckIn .pickGender h4 {
  font-weight: 900;
}
body .mainContainer .checkInContainer .finalInfo .individualCheckIn .pickGender select {
  margin-left: 10px;
}
body .mainContainer .checkInContainer .finalInfo .totalWatching {
  margin-bottom: 20px;
}
body .mainContainer .checkInContainer .finalInfo .totalWatching h3 {
  text-align: center;
  margin: auto;
  font-size: 23px;
  line-height: 30px;
  margin-bottom: 30px;
}
body .mainContainer .checkInContainer .finalInfo .totalWatching h3 span {
  background-color: #f15d5d;
  padding: 0 5px;
  color: white;
}
body .mainContainer .checkInContainer .finalInfo .totalWatching h4 {
  text-align: center;
}
body .mainContainer .checkInContainer .finalInfo .totalWatching .totalWatchingContainer {
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 700px) {
  body .mainContainer .checkInContainer .finalInfo .totalWatching .totalWatchingContainer {
    display: block;
  }
}
body .mainContainer .checkInContainer .finalInfo .totalWatching .totalWatchingContainer .select h4 {
  color: #222;
  font-weight: 900;
}
@media only screen and (max-width: 700px) {
  body .mainContainer .checkInContainer .finalInfo .totalWatching .totalWatchingContainer .select h4 {
    width: 100%;
    text-align: left;
  }
}
body .mainContainer .checkInContainer .finalInfo .totalWatching .totalWatchingContainer .select select {
  width: 100px;
  display: block;
  margin: 10px auto;
}
@media only screen and (max-width: 700px) {
  body .mainContainer .checkInContainer .finalInfo .totalWatching .totalWatchingContainer .select select {
    width: 100%;
  }
}
body .mainContainer .checkInContainer .finalInfo .firstTimer {
  text-align: center;
  margin-top: 50px;
}
body .mainContainer .checkInContainer .finalInfo .firstTimer h4 {
  display: inline-block;
}
body .mainContainer .checkInContainer .finalInfo .firstTimer .firstTimerOptions {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}
body .mainContainer .checkInContainer .finalInfo .firstTimer .firstTimerInfo {
  margin-top: 30px;
}
body .mainContainer .checkInContainer .finalInfo .firstTimer .firstTimerInfo .inputs .input {
  background-color: #efe8e8;
  padding: 0 20px;
}
body .mainContainer .checkInContainer .finalInfo .firstTimer .firstTimerInfo .inputs .input input {
  border: initial;
  margin-bottom: 10px 0;
}
body .mainContainer .checkInContainer .finalInfo .firstTimer .firstTimerInfo .inputs .input input::placeholder {
  color: #22222278;
}
body .mainContainer .checkInContainer .checkIn {
  margin: 30px 0;
}
@media only screen and (max-width: 700px) {
  body .mainContainer .checkInContainer .checkIn {
    margin: 30px 0;
  }
}
body .mainContainer .checkInContainer .checkIn button {
  width: 80%;
  background-color: #f15d5d;
  transition: all 0.2s;
  position: relative;
  top: 0;
  font-weight: 900;
}
body .mainContainer .checkInContainer .checkIn button:active {
  top: 2px;
  position: relative;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
}
body .mainContainer .checkInContainer .thankYouScreen .center h1 {
  color: #f15d5d;
}
body .mainContainer .checkInContainer .thankYouScreen .center span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
body .mainContainer .checkInContainer .thankYouScreen .center span i {
  color: #f15d5d;
  font-size: 50px;
}
body .tableContainer {
  min-height: 100vh;
  padding-top: 10px;
  display: flex;
  justify-content: end;
  align-items: center;
  margin: auto;
}
body .tableContainer .wrapTable {
  width: 90%;
  height: 600px;
  overflow: auto;
  overflow-y: auto;
  margin: auto;
  background-color: white;
  box-shadow: 5px 5px 3px #b13f3f;
}
body .tableContainer .wrapTable .tables table {
  min-width: 2000px;
  margin: auto;
}
body .tableContainer .wrapTable .tables table thead tr {
  box-shadow: 0px 2px 3px #efefef;
}
body .tableContainer .wrapTable .tables table thead tr th {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: initial;
  min-width: 200px;
  border-left: 1px solid #222;
}
body .tableContainer .wrapTable .tables table tbody tr:nth-child(2n) {
  background-color: #efefef !important;
  color: #222;
}
body .tableContainer .wrapTable .tables table tbody tr td {
  border-radius: initial;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  min-width: 200px;
  border-left: 1px solid #222;
}
body .tableContainer .wrapTable .table1 {
  position: relative;
}
body .tableContainer .wrapTable .table1 table thead {
  background-color: white;
}

/*# sourceMappingURL=main.css.map */
